    <section id="home" class="banner-intro banner-slider">
        <div class="banner-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8  col-sm-offset-2 text-center wow animated bounceIn rot-title">
                        <h1 class="dabomeP" id="widthEl">{% t main.sectionHome.dabomeplatformsh %}</h1>
                        <p class="lead" id="rot-text">{% t main.sectionHome.thebestloyaltyprogramsh %}</p>
                        <div class="scroll-to banner-buttons"> <a href="#features" class="btn btn-lg btn-skin btn-radius">{% t main.sectionHome.learnmoresh %}<i class="fa fa-angle-down"></i></a> <a href="http://app.dabome.com/companyRegistration/lat" class="btn btn-lg btn-skin1 btn-radius">{% t main.sectionHome.registernowsh %}<i class="fa fa-angle-right"></i></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>