<div class="row vertical-align-child aside-feature-row">
        <div class="col-sm-6 margin-b-30 wow animated fadeInLeft" data-wow-delay="0.1s">
        <img src="images/wide_shot_1.png" class="img-responsive" alt="loyalty platform">
        </div>
        <div class="col-sm-5 col-sm-offset-1 wow animated fadeInRight" data-wow-delay="0.2s">
                    <h3>{% t main.sectionFeatures.loyaltyprogram %}</h3>
                    <h4>{% t main.sectionFeatures.discountsforloyal %} </h4>
                    <p> {% t main.sectionFeatures.dabomeisapowerful %} </p>
                    <a href="http://app.dabome.com/companyRegistration/lat" class="btn btn-lg btn-skin1 btn-radius">{% t main.sectionHome.registernowsh %}<i class="fa fa-angle-right"></i></a> 
        </div>
</div>
            <!--side by side left right features row end, use the class .vertical-align-child .aside-feature-row into row-->
<div class="row vertical-align-child aside-feature-row">
                <div class="col-sm-5 wow animated fadeInLeft margin-b-30" data-wow-delay="0.3s">
                    <h3>{% t main.sectionFeatures.discountforloyalcustomer %}</h3>
                    <h4>{% t main.sectionFeatures.simple %}</h4>
                    <p>{% t main.sectionFeatures.ouralgorithm %} </p>
                </div>
                <div class="col-sm-6 col-sm-offset-1 wow animated fadeInRight" data-wow-delay="0.4s"> <img src="images/actions.jpg" class="img-responsive" alt="target customers"> </div>
</div>