<!DOCTYPE html>
<html>
   
    {% include head_mobapp.html %}
    
    <body data-spy="scroll" data-target="#mobile-app-navbar" data-offset="87">
        <div id="preloader">
            <div id="preloader-inner"></div>
        </div><!--/preloader-->

        <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-transparent-light navbar-sticky">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarlanding" aria-controls="navbarlanding" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <a class="navbar-brand" href="index-mobileapp.html#home"><img src="images/logo.png" class="img-responsive start-logo" alt=""></a>
             
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-app-navbar" aria-controls="mobile-app-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mobile-app-navbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" data-scroll href="index-mobileapp.html#home">{% t main.navbarSection.home %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-scroll href="index-mobileapp.html#features">{% t main.navbarSection.features %}</a>
                        </li>                       
                         <li class="nav-item">
                            <a class="nav-link" data-scroll href="index-mobileapp.html#download">{% t main.navbarSection.download %}</a>
                        </li> 
                         <li class="nav-item dropdown">
                            <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img src="images/{% t main.navbarSection.flag %}" alt="English"> {% t main.navbarSection.language %}</span>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            
                            {% for lang in site.languageNames %}
                             {% if lang[0] == site.lang %} {% continue %} {% endif %}
                             
                             {% if lang[0] != 'en' %}                       
                              <a href="{{ site.baseurl_root }}/{{ lang[0]}}/privacy-mobileapp.html" class="dropdown-item"> <img src="images/rs.png" alt="English"> {{ lang[1] }}</a>
                              
                              {% else %}
                              
                              <a href="{{ site.baseurl_root }}/privacy-mobileapp.html" class="dropdown-item"> <img src="images/us.png" alt="English"> {{ lang[1] }}</a>    
                              
                              {% endif %}
                              {% endfor %}   
                                                                                                                                                
                            </div>
                        </li>                      
                    </ul>
                </div>
            </div>
        </nav>
         {% include privacy_content_mobapp.html %}
        
        <a href="#" class="back-to-top" id="back-to-top"><i class="icon-chevron-up"></i></a>
        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script type="text/javascript" src="js/plugins/plugins.js"></script> 
        <!--tweet-scroller-->
        <script src="tweetie/tweetie.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="js/mobileApp.custom.js"></script> 
    </body>
</html>